{
    margin:0;
    padding:0;
    box-sizing: border-menu;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
    margin: 0px ;
    font-size: 2vw;
}

.grid-container{
    display:grid;
    grid-template-areas: 
        'header header header'
        'nav main sidebar'
        'footer footer footer';
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 10px;
}

.header{
    grid-area: header;
    background: #333;
    color: palevioletred;
    padding: 50px;
    text-align: center;
}

.nav{
    grid-area: nav;
    background: #f4f4f4;
    padding: 20px;
}

.main{
    grid-area: main;
    background: #ddd;
    padding: 20px;
}

.sidebar{
    grid-area: sidebar;
    background:#f4f4f4
    padding: 20px;
}

.footer{
    grid-area: footer;
    background:#333;
    color: palevioletred;
    padding: 20px;
    text-align:center;
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 60%;
    text-shadow: 
    1px 1px 0px black, /*Bottom-right shadow*/
    0px 1px 0px black, /*Bottom-left shadow*/
    1px 0px 0px black, /*Top-right shadow*/
    0px 0px 0px black; /*Top-left shadow*/
}

ul{
    margin:0px ;
}

body > header {
    background-color: hotpink;
    color: rgb(70, 67, 67);
    box-shadow: 6px 6px 10px 3px rgb(121, 68, 121);
    border-radius: 2%;
    display: flex;
    justify-content: space-between;
}

#nav-ul{
    display: flex;
}

#nav-ul > li{
    padding: 6px; 
    margin: 1px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}
    
.navbutton{ 
    color: rgb(70, 67, 67);
    text-decoration: none;
    padding: 8px;
    border: 3px solid grey;
    border-radius: 10%;
    box-shadow: 6px 6px 10px 3px rgb(37, 37, 37);
}

body> main article {
    width: 60%;
    margin: auto;
}

#main-content{
    display: flex;
}

#main-content > div{
    width: 60%; 
}

form{
    text-align: center;
}

h2{
    text-align: center;
}

footer{
    background-color: hotpink;
}

body > footer{
    display: flex;
}

img{
    border-radius: 40%;
}

#footer-ul{
    display:flex;
    list-style: none;
}

#footer-ul > div > li{
    margin-left: 12px;
}

#footer-ul > div > li > a{
    color: rgb(46, 44, 44);
    text-decoration: none;
}

