body {
    margin: 0;
}

header{
    padding: 16px;
    background-color: #333;
    color: palevioletred;
    text-align: center;
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 60%;
    text-shadow: 
    1px 1px 0px black, /*Bottom-right shadow*/
    0px 1px 0px black, /*Bottom-left shadow*/
    1px 0px 0px black, /*Top-right shadow*/
    0px 0px 0px black; /*Top-left shadow*/
}

#menu{
    padding: 32px;
    background-color: grey;
    grid-area: menu;
}

#nav-ul{
    margin-top: 20px;
    display: flex;
    align-items:center;
    flex-flow: column;
    text-decoration: none;

}

#nav-ul > li{
    padding: 6vh; 
    margin: 10vh;
    list-style: none;
    text-decoration: none;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton{ 
    color: rgb(70, 67, 67);
    text-decoration: none;
    padding: 8px;
    border: 3px solid grey;
    border-radius: 10%;
    box-shadow: 6px 6px 10px 3px rgb(37, 37, 37);
}

#main-content{
    padding:32px;
    grid-area: main;
    background: #bfb8b8;
    grid-area: main;
}


footer{
    background:#333;
    color: palevioletred;
    font-weight: bold;
    padding: 20px;
    text-align:center;
    grid-area: footer;
}

#grid-container{
    display:grid;
    grid-template-areas: 
        'header header '
        'menu main'
        'footer footer';
    grid-template-columns: 3fr 7fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    gap: 10px;
}









