body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
    margin: 0px ;
    font-size: 2vw;
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 60%;
    text-shadow: 
    1px 1px 0px black, /*Bottom-right shadow*/
    0px 1px 0px black, /*Bottom-left shadow*/
    1px 0px 0px black, /*Top-right shadow*/
    0px 0px 0px black; /*Top-left shadow*/
}

ul{
    margin:0px ;
}

body > header {
    background-color: hotpink;
    color: rgb(70, 67, 67);
    box-shadow: 6px 6px 10px 3px rgb(121, 68, 121);
    border-radius: 2%;
    display: flex;
    justify-content: space-between;
}

#nav-ul{
    display: flex;
}

#nav-ul > li{
    padding: 6px; 
    margin: 1px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}
    
.navbutton{ 
    color: rgb(70, 67, 67);
    text-decoration: none;
    padding: 8px;
    border: 3px solid grey;
    border-radius: 10%;
    box-shadow: 6px 6px 10px 3px rgb(37, 37, 37);
}

body> main article {
    width: 60%;
    margin: auto;
}

#main-content{
    display: flex;
}

#main-content > div{
    width: 60%; 
}

form{
    text-align: center;
}

h2{
    text-align: center;
}

footer{
    background-color: hotpink;
}

body > footer{
    display: flex;
}

img{
    border-radius: 40%;
}

#footer-ul{
    display:flex;
    list-style: none;
}

#footer-ul > div > li{
    margin-left: 12px;
}

#footer-ul > div > li > a{
    color: rgb(46, 44, 44);
    text-decoration: none;
}

